<ion-content [fullscreen]="true" class="landing">
  <div class="overlay">
    <div class="container">
      <ion-img src="assets/logo.png"></ion-img>
      <ion-title>Um copo atrás de outro</ion-title>
      <p class="description">Descubra os melhores drinks e aproveite momentos inesquecíveis.</p>
      <ion-fab vertical="center" horizontal="center" style="margin-bottom: 30px;">
        <button [routerLink]="['/auth']">RESERVE AGORA<span></span></button>
      </ion-fab>
    </div>
  </div>
</ion-content>
